<h1>Edit <%= @employee.name %></h1>

<form id="edit_employee" action="/employees/<%= @employee.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">
  <p>Edit Employee Details</p>
  <label for="first_name">First Name</label>
  <input type="text" name="employee[first_name]" value="<%= @employee.first_name %>"><br/>
  <label for="last_name">Last Name</label>
  <input type="text" name="employee[last_name]" value="<%= @employee.last_name %>"><br/>
  <label for="i9_eligible?">i9 Eligible? </label>
  <select name="employee[i9_eligible]" >
    <option value="<%= @employee.i9_eligible %>"><%= @employee.i9_eligible.to_s.capitalize %></option>
    <% if @employee.i9_eligible %>
      <option value="false">False</option>
    <% else %>
      <option value="true">True</option>
    <% end %>
  </select><br/>
   <label for="benefits_eligible?">Benefits Eligible?</label>
  <select name="employee[benefits_eligible]">
    <option value="<%= @employee.benefits_eligible %>"><%= @employee.benefits_eligible.to_s.capitalize %></option>
    <% if @employee.benefits_eligible %>
      <option value="false">False</option>
    <% else %>
      <option value="true">True</option>
    <% end %>
  </select><br/>
  <label for="salary">Salary</label>
  <input type="number" name="employee[salary]" value="<%= @employee.salary %>"><br/>
  <input type="submit" value="Save Employee">
</form>