<nav>
  <a href="/companies">All Companies</a> |
  <a href="/employees">All Employees</a> 
</nav>
<h1>All Employees</h1>
<p><i>Note: Only i-9 eligible employees appear here.</i></p>
<% @employees.each do |employee| %>
  <h3>
    <%= employee.name %>
    <%= button_to "Edit", "/employees/#{employee.id}/edit", method: :get, id: "edit_button" %> 
    <%= button_to "Delete", "/employees/#{employee.id}", method: :delete, id: "delete_button" %> 
  </h3>
  <p>i-9 Eligible? <%= employee.i9_eligible %></p>
  <p>Benefits Eligible? <%= employee.benefits_eligible %></p>
  <p>Salary: <%= employee.salary %></p>
  <p>Company ID: <%= employee.company_id %></p>
<% end %>