<nav>
  <a href="/companies">All Companies</a> |
  <a href="/employees">All Employees</a> 
</nav>

<h1><%= @employee.name %></h1>
<a href="/employees/<%= @employee.id %>/edit"><button>Edit Employee</button></a></p>
<p><b>i-9 Eligible?</b> <%= @employee.i9_eligible.to_s.capitalize %></p>
<p><b>Benefits Eligible?</b> <%= @employee.benefits_eligible.to_s.capitalize %></p>
<p><b>Salary:</b> <%= @employee.salary %></p>
<p><b>Company ID:</b> <%= @employee.company_id %></p>
