<nav>
  <a href="/companies">All Companies</a> |
  <a href="/employees">All Employees</a> 
</nav>


<h1><%= @company.name %> Employees</h1>
<%= link_to "Sort Alphabetically", "/companies/#{@company.id}/employees?sort=A-Z" %>

<%= form_with id: "filter_salary", url: "/companies/#{@company.id}/employees?number", method: :get, local: true do |form| %>
  <%= form.label :number, "Show employees with salaries higher than:" %>
  <%= form.number_field :number %>
  <%= form.submit "Filter Employees" %>
<% end %>

<% @employees.each do |employee| %>
  <h3>
    <%= employee.name %>
    <a id="edit_button" href="/employees/<%= employee.id %>/edit"><button>Edit</button></a>
  </h3>
  <p>i-9 Eligible? <%= employee.i9_eligible.to_s.capitalize %></p>
  <p>Benefits Eligible? <%= employee.benefits_eligible.to_s.capitalize %></p>
  <p>Salary: <%= employee.salary %></p>
<% end %>

<a href="/companies/<%= @company.id %>/employees/new"><button>Add New Employee</button></a>