<h1>Add New Company</h1>

<%= form_with id: "new_company", url: "/companies", method: :post, local: true do |form| %>
  <%= form.label :name, "Name" %>
  <%= form.text_field :name %>
  <%= form.label :federal_ein, "Federal EIN" %>
  <%= form.number_field :federal_ein %>
  <%= form.label :non_profit, "Non Profit?" %>
  <%= form.select :non_profit, [["True", "true"],["False", "false"]], selected: "false" %>
  <%= form.label :address_line_1, "Address Line 1" %>
  <%= form.text_field :address_line_1 %>
  <%= form.label :address_line_2, "Address Line 2" %>
  <%= form.text_field :address_line_2 %>
  <%= form.label :city, "City" %>
  <%= form.text_field :city %>
  <%= form.label :state, "State" %>
  <%= form.text_field :state %>
  <%= form.label :zipcode, "Zip Code" %>
  <%= form.text_field :zipcode %>

  <%= form.submit "Save Company" %>
<% end %>