<nav>
  <a href="/companies">All Companies</a> |
  <a href="/employees">All Employees</a> 
</nav>

<h1><%= @company.name %></h1>
<a href="/companies/<%= @company.id %>/edit"><button>Update Company</button></a></p>
<h3>Federal EIN: <span style="font-weight:normal"><%= @company.federal_ein %></span></h3> 
<h3>Non-Profit? <span style="font-weight:normal"><%= @company.non_profit %></span></h3> 
<h3>Address: <span style="font-weight:normal">
    <% if @company.address_line_2.empty? %>
      <%= "#{@company.address_line_1}, #{@company.city}, #{@company.state} #{@company.zipcode}" %>
    <% else %>
      <%= "#{@company.address_line_1}, #{@company.address_line_2}, #{@company.city}, #{@company.state} #{@company.zipcode}" %>
    <% end %></span>
</h3>
<br/>

<h2><a href="/companies/<%= @company.id %>/employees">All Employees</a></h2>
<h3>Employee Count: <span style="font-weight:normal"><%= @company.employee_count %></span></h3>